/.internal
/build
/dist
/node_modules
/assets/steam/*
!/assets/steam/app_build_1000.txt
!/assets/steam/app_build_1000.vdf
!/assets/steam/depot_build_1001.vdf
!/assets/steam/depot_build_1002.vdf
!/assets/steam/depot_build_1003.vdf
!/assets/steam/depot_build_1004.vdf
/tools
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins